@using GucciFestival.Client.Models
@using GucciFestival.Client.Services
@using GucciFestival.Shared.Models
@using GucciFestival.Shared.LoginPage;
@using GucciFestival.Shared.Competences;
@using Nito.AsyncEx;
@inject NavigationManager NavManager
@using GucciFestival.Shared.NavigateMenus;
@page "/login"
@using GucciFestival.Shared;

@switch (loginPage)
{
    case LoginPage.StartPage:
        <h3> Login in</h3>
        <button @onclick="(()=>SetLoginPage(LoginPage.Login))" class="btn-outline-primary">log in</button>
        <button @onclick="(()=>SetLoginPage(LoginPage.AddUser))" class="btn-outline-primary">opret bruger</button>

        break;
    case LoginPage.Login:
        <h3>Log in </h3>
        <h4>@userLoginMessage</h4>
        <EditForm Model=@loginModel
          Context="formContext">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="col-3 mb-4">
                <label for="Email">Email:</label>
                <InputText id="Email" @bind-Value="loginModel.Email" class="form-control" />
            </div>

            <div class="col-4 mb-4">
                <label for="Password">Password:</label>
                <InputText id="Password" @bind-Value="loginModel.Password" class="form-control" />
            </div>

            <button type="submit" class="btn-outline-primary" @onclick="@(() => UserLogin(formContext))">Login</button>
            <button class="btn-outline-primary" @onclick="(() => SetLoginPage(LoginPage.StartPage))">MainSide</button>
        </EditForm>
        break;
    case LoginPage.AddUser:
        <EditForm EditContext=userAddContext OnValidSubmit=AddUserHandleValidSubmit>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="col-3 mb-4">
                <label for="Name">Name:</label>
                <InputText id="Name" @bind-Value="userAddModel.Name" class="form-control" />
            </div>
            <div class="col-3 mb-4">
                <label for="Email">Email:</label>
                <InputText id="Email" @bind-Value="userAddModel.Email" class="form-control" />
            </div>

            <div class="col-4 mb-4">
                <label for="Password">Password:</label>
                <InputText id="Password" @bind-Value="userAddModel.Password" class="form-control" />
            </div>


            <div class="col-4 mb-4">
                <label for="Tlf">Tlf:</label>
                <InputNumber id="Tlf" @bind-Value="userAddModel.Phone" class="form-control" />
            </div>
            <div class="col-4 mb-3">
                <label for="Birthday">Birthday:</label>
                <InputDate id="Birthday" @bind-Value="userAddModel.Birthday" class="form-control" />
            </div>


            @foreach (var item in competenceCheckBoxes)
            {
                <li>
                    <label>@((Competences)item.CompetenceIndex)</label>
                    <InputCheckbox @bind-Value="item.HaveCompetenceFlag" />
                </li>
            }

            <button type="submit" class="btn-outline-primary">Lav frivllig konto</button>
            <button class="btn-outline-primary" @onclick="(() => SetLoginPage(LoginPage.StartPage))">MainSide</button>
        </EditForm>
        break;
}

@code {

    public LoginPage loginPage;


    private Competences competence;
    private List<CompetenceCheckBox> competenceCheckBoxes = new List<CompetenceCheckBox>();

    /// <summary>
    /// Hvem der er logget ind på hjemmesiden.
    /// </summary>
    public static User UserLogedin { get; set; }
    private LoginModel loginModel = new LoginModel();
    private string userLoginMessage;





    //For opret user
    private EditContext userAddContext;
    private UserModel userAddModel = new UserModel();

    [Inject]
    public IUserService UserService { get; set; }
    private List<User> users = new List<User>();


    protected override void OnInitialized()
    {
        //Resetter den statics variable for at den ikke stadig har det samme login
        //F.eks. hvis man går tilbage med browser tilbage knappen 
        UserLogedin = null;

        userAddModel = new UserModel();
        userAddContext = new EditContext(userAddModel);


        //"Adder" alle competence der findes og sættes i en liste, der vises visuelt med checkbox og competences navn.
        for (var i = 0; i < 7; i++)
        {
            competenceCheckBoxes.Add(new CompetenceCheckBox(i, false));
        }


        //Besked, hvis der ikke findes nogen "user" med det login.
        userLoginMessage = string.Empty;
        //Ændre  navigations knapper i venstre side, til "forsiden".
        NavMenu.NavMenuChange(NavigateMenus.MainSide);
    }
    protected override async Task OnInitializedAsync()
    {
        users = (await UserService.GetAllUsers()).ToList();
    }


    /// <summary>
    /// Vise, hvilken udsende der skal vises på loginpage.
    /// </summary>
    /// <param name="startPage"></param>
    public void SetLoginPage(LoginPage startPage)
    {
        NavMenu.NavMenuChange(NavigateMenus.MainSide);
        this.loginPage = startPage;
    }



    public void UserLogin(EditContext formContext)
    {
        bool formIsValid = formContext.Validate();
        if (formIsValid)
        {
            foreach (var userLooping in users)
            {
                if (userLooping.Email == loginModel.Email && userLooping.Password == loginModel.Password)
                {
                    UserLogedin = userLooping;
                    break;
                }
            }
            if (UserLogedin != null)
            {        
                if (UserLogedin.Type_id == 2)
                {
                    NavManager.NavigateTo("/volenteerOwnPage");
                }
                else
                {
                    NavManager.NavigateTo("/coordinatorOwnPage");

                }
            }
            else
            {
                userLoginMessage = "Not found user";
            }
        }
    }
    public void AddUserHandleValidSubmit()
    {
        Console.WriteLine("Hello handle Valid");
        User userAdd = new User();
        userAdd.Name = userAddModel.Name;
        userAdd.Birthday = userAddModel.Birthday;
        userAdd.Email = userAddModel.Email;
        userAdd.Phone = userAddModel.Phone;
        userAdd.Password = userAddModel.Password;

        foreach (var item in competenceCheckBoxes)
        {
            if (item.HaveCompetenceFlag)
            {
                userAdd.Competences_Id.Add(item.CompetenceIndex + 1);
            }
        }

        UserService.AddUser(userAdd);
    }
}
