@using GucciFestival.Client.Models
@page "/login"
<h3>Opret Konto</h3>
<EditForm EditContext=@editContext class="row p-3"
OnValidSubmit=@HandleValidSubmit OnInvalidSubmit=@HandleInvalidSubmit>
<DataAnnotationsValidator/>
<ValidationSummary/>
<div class="col-md-12 mb-3">
	<label for="Name">Name:</label>
	<InputText id="Name" @bind-Value="userModel.Name"/>
</div>
<div class="col-md-12 mb-3">
	<label for="Email">Email:</label>
	<InputText id="Email" @bind-Value="userModel.Email"/>
</div>
<div class="col-md-12 mb-3">
	<label for="Password">Password:</label>
	<InputText id="Password" @bind-Value="userModel.Password"/>
</div>
<div class="col-md-12 mb-3">
	<label for="Tlf">Tlf:</label>
	<InputNumber id="Tlf" @bind-Value="userModel.Tlf"/>
</div>
<div class="col-md-12 mb-3">
	<label for="Birthday">Birthday:</label>
	<InputDate id="Birthday" @bind-Value="userModel.Birthday"/>
</div>
</EditForm>
@code {
	private EditContext editContext;
	private UserModel userModel = new UserModel();
	protected override void OnInitialized()
	{
		editContext = new EditContext(userModel);
	}
	public void HandleValidSubmit() {}
	public void HandleInvalidSubmit() {}
}
