@using GucciFestival.Client.Models
@using GucciFestival.Client.Services
@using GucciFestival.Shared.Models
@using GucciFestival.Shared.StartPage;
@using GucciFestival.Shared.Competences;
@using Nito.AsyncEx;
@inject NavigationManager NavManager
@using GucciFestival.Shared.NavigateMenus;
@page "/login"
@using GucciFestival.Shared;

@switch (startPage)
{
    case StartPage.MainPage:
        <h3> Login in</h3>
            <button @onclick="(()=>SetPage(StartPage.Login))" class="btn-outline-primary">log in</button>
        <button @onclick="(()=>SetPage(StartPage.CreateUser))" class="btn-outline-primary">opret bruger</button>
        
        break;
    case StartPage.Login:
    <h3>Log in </h3>
        <h4>@userLoginMessage</h4>
    <EditForm Model=@loginModel
     Context="formContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

        <div class="col-3 mb-4">
            <label for="Email">Email:</label>
            <InputText id="Email" @bind-Value="loginModel.Email" class="form-control" />
        </div>

        <div class="col-4 mb-4">
            <label for="Password">Password:</label>
            <InputText id="Password" @bind-Value="loginModel.Password" class="form-control"/>
        </div>

        


        <button type="submit" class="btn-outline-primary" @onclick=UserLogin>Login</button>

        </EditForm>
        break;
    case StartPage.CreateUser:
        <EditForm EditContext=@editContextCreateUser 
         OnValidSubmit=@LoginHandleValidSubmit OnInvalidSubmit=@LoginHandleInvalidSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-3 mb-4">
	      <label for="Name">Name:</label>
	      <InputText id="Name" @bind-Value="userModel.Name" class="form-control"/>
        </div>
        <div class="col-3 mb-4">
            <label for="Email">Email:</label>
            <InputText id="Email" @bind-Value="userModel.Email" class="form-control" />
        </div>

        <div class="col-4 mb-4">
            <label for="Password">Password:</label>
            <InputText id="Password" @bind-Value="userModel.Password" class="form-control"/>
        </div>

        
        <div class="col-4 mb-4">
            <label for="Tlf">Tlf:</label>
            <InputNumber id="Tlf" @bind-Value="userModel.Tlf" class="form-control" />
        </div>
        <div class="col-4 mb-3">
            <label for="Birthday">Birthday:</label>
            <InputDate id="Birthday" @bind-Value="userModel.Birthday" class="form-control"/>
        </div>
        
        <button class="btn-outline-primary" @onclick="UserAdd">Lav frivllig konto</button>

        @foreach (var item in competenceCheckBoxes)
       {
           <li>
               <label>@((Competences)item.CompetenceIndex)</label>
               <InputCheckbox @bind-Value="item.HaveCompetenceFlag" />
           </li>
       }

        </EditForm>
        break;
}

    @*<button @onsubmit=@(async () => await UserAdd())>Add user</button>*@
@code {

    public StartPage startPage;

    private Competences competence;
    private List<CompetenceCheckBox> competenceCheckBoxes = new List<CompetenceCheckBox>();


    public static User UserLogedin { get; set; }


    private List<User> users = new List<User>();
    private bool? sideOpret;


    private LoginModel loginModel = new LoginModel();

    private UserModel userModel = new UserModel();
    //For opret
    private string userLoginMessage;
    private EditContext editContextCreateUser;

    //login
    private EditContext editLoginContext;

    private User userTarget = new User();
    //Useless
    [Inject]
    public IUserService UserService { get; set; }


    protected override void OnInitialized()
    {
        UserLogedin = null;

        for (var i = 0; i < 7; i++)
        {
            competenceCheckBoxes.Add(new CompetenceCheckBox(i, false));
        }

        editContextCreateUser = new EditContext(userModel);
        editLoginContext = new EditContext(loginModel);
        userLoginMessage = string.Empty;

        users.Add(new User());
        users[0].Name = "Kimmi";
        users[0].Email = "kimmmmii@h";
        NavMenu.ChangeSideFlag(NavigateMenus.MainSide);
    }
    protected override async Task OnInitializedAsync()
    {
        users = (await UserService.GetAllUsers()).ToList();      
    }















    public void SetPage(StartPage startPage)
    {
        NavMenu.ChangeSideFlag(NavigateMenus.MainSide);
        this.startPage = startPage;
    }





















    //Ikke tænk på det.




    private void ChangeSide()
    {
        //NavMenu.ChangeSideFlag();
    }

    public void UserLogin()
    {
        userTarget = null;
        Console.WriteLine("List User: " + users.Count);
        foreach (var userLooping in users)
        {
            Console.WriteLine("Email userloop: " + userLooping.Email + "Email usermodel: " + userModel.Email + " password userloop: " + userLooping.Password + " password usermodel " + userModel.Password);
            if (userLooping.Email == loginModel.Email &&
                userLooping.Password == loginModel.Password)
            {
                UserLogedin = userLooping;
                break;
            }
        }

        if(UserLogedin != null)
        {
            if(UserLogedin.Type_id == 2)
            {
                NavManager.NavigateTo("/volenteerOwnPage");
            }
            else
            {
                NavManager.NavigateTo("/coordinatorOwnPage");

            }
        }
        userLoginMessage = userTarget != null ? "Found user" : "Not found user";
    }


    public void UserAdd()
    {
        Console.WriteLine("Start add user");

        User userAdd = new User();
        userAdd.Name = userModel.Name;
        userAdd.Birthday = userModel.Birthday;
        userAdd.Email = userModel.Email;
        userAdd.Phone = userModel.Tlf;
        userAdd.Password = userModel.Password;

        foreach (var item in competenceCheckBoxes)
        {
            if (item.HaveCompetenceFlag)
            {
                userAdd.Competences_Id.Add(item.CompetenceIndex +1);
            }
        }
        UserService.AddUser(userAdd);
    }

    public void LoginHandleValidSubmit()
    {
        Console.WriteLine("Hello handle Valid");
        UserLogin();
        // ChangeSide();
    }
    public void LoginHandleInvalidSubmit()
    {
        Console.WriteLine("Hello handle not valid");
    }
}
