@using GucciFestival.Client.Models
@using GucciFestival.Shared.Models
@page "/profil"
<h3>Profil</h3>

<EditForm EditContext=@editContext class="row p-3"
OnValidSubmit=@HandleValidSubmit OnInvalidSubmit=@HandleInvalidSubmit>
<DataAnnotationsValidator/>
<ValidationSummary/>
<div class="col-mb-4">
	<label for="Name">Name:</label>
	<InputText id="Name" @bind-Value="userModelV2.Name" class="form-control"/>
</div>
<div class="col-mb-4">
	<label for="Email">Email:</label>
	<InputText id="Email" @bind-Value="userModelV2.Email" class="form-control"/>
</div>
<div class="col-mb-4">
	<label for="Password">Password:</label>
	<InputText id="Password" @bind-Value="userModelV2.Password" class="form-control"/>
</div>
<div class="col-mb-4">
	<label for="Tlf">Tlf:</label>
	<InputNumber id="Tlf" @bind-Value="userModelV2.Phone" class="form-control"/>
</div>
<div class="col-mb-4">
	<label for="Birthday">Birthday:</label>
	<InputDate id="Birthday" @bind-Value="userModelV2.Birthday" class="form-control"/>
</div>
<Button id="button1"> Opdater profil</Button> 
<Button id="button2"> Slet Profil</Button> 

<style>

	#button1 {
		background-color: forestgreen;
		width: 125px;
		border_radius: 8px;
		color: white;
		position: relative;
	}

	#button2 {
		background-color: red;
		width: 125px;
		border_radius: 8px;
		color: white;
		position: relative;
		left: 3%;
		
	}

</style>
</EditForm>
@code {
	private EditContext editContext;
	private UserModel userModel = new UserModel();
	private User userModelV2 = new User();
	protected override void OnInitialized()
	{

		userModelV2 = Login.UserLogedin;
		userModel.Email = "se-b@live.dk";
		userModel.Name = "Sebastian Søborg";
		userModel.Password = "1234";
		userModel.Tlf = 12345678;
		
		editContext = new EditContext(userModel);
	}
	public void HandleValidSubmit() {}
	public void HandleInvalidSubmit() {}
}
